@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dosis&display=swap");

:root {
  --primary-color: #3b82f6;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Dosis", sans-serif;
  /* background: linear-gradient(to right, #74ebd5, #acb6e5); */
  /* background: linear-gradient(to right, #b2fefa, #0ed2f7); */
  background: linear-gradient(to right, #acb6e5, #86fde8);
}

.container {
  margin: 2rem 0rem 2rem;
  text-align: center;
}

.heading {
  color: var(--primary-color);
}

.input-label {
  margin: 1.5rem 0rem;
  display: block;
  font-size: x-large;
  font-weight: 600;
}

.input {
  outline: white;
  font-size: 14px;
  padding: 0.6rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  max-width: 200px;
}

.check-button {
  cursor: pointer;
  margin: 2rem auto;
  display: block;
  background-color: var(--primary-color);
  border: none;
  padding: 0.7rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  color: white;
}

.check-button:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: white;
  border: 2px solid var(--primary-color);
  padding: 0.7rem 1rem;
}

.output {
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 600px;
  margin: 2rem auto;
}

.privacy {
  background-color: white;
  border: 2px solid rgb(24, 24, 24);
  color: black;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1.5rem auto 0;
  max-width: 90%;
  width: 450px;
}

.notice {
  color: red;
  font-weight: bold;
}

footer {
  color: var(--primary-color);
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

img,
li {
  display: inline;
  padding: 0.2rem;
  width: 40px;
}

.footer-list {
  margin: 1rem;
}
